:root {
  --background: white;
  --brown: #bc7b3b;
  --hover: #b86d22c0;
  --headercolor: rgba(188, 123, 59, 0.5);
  --formbg: rgb(138, 214, 106, 0.3);
  --topbar: rgb(138, 214, 106, 1);
  --btncolor: white;
  --drkgreen: rgb(161, 210, 139, 0.8);
  --tree: rgb(80, 150, 152);
  --mountain: rgb(167, 129, 165);
  --desert: rgb(227, 190, 128);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Kanit', sans-serif;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
