.form-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--formbg);
  z-index: 2;
}

.register-form > h1 {
  font-size: 5rem;
}

.register-form {
  position: absolute;
  display: grid;
  padding: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(197, 142, 76);
  background: linear-gradient(180deg, rgba(197, 142, 76, 1) 0%, rgba(188, 123, 59, 1) 100%);
  height: 800px;
  width: 800px;
  border-radius: 2rem 2rem 2rem 2rem;
  outline: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  overflow: hidden;
  color: white;
}

.register-form > input {
  display: block;
  border: none;
  font-size: 2rem;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.register-form::before {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.register-form::after {
  font-size: 2rem;
  color: black;
  content: '';
  position: absolute;
  bottom: -50%;
  left: -50%;
  height: 200%;
  width: 175%;
  background-color: rgba(175, 208, 161, 1);
  border-radius: 45%;
  animation: spin 10s ease-in-out forwards;
}

@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-200%) rotate(900deg);
  }
}

.button-submit-register {
  background: var(--hover);
  border: solid 0.1rem;
  cursor: pointer;
  font: inherit;
  font-size: 2rem;
  width: 100%;
  border-radius: 1rem 1rem 1rem 1rem;
  line-height: 1;
  color: var(--btncolor);
  transition: 0.25s;
}

.button-submit-register:hover,
.button-submit-register:focus {
  border-color: var(--hover);
  color: #fff;
}
.button-submit-register:hover,
.button-submit-register:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
